/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

#board-container {
  width: clamp(200px, 50vw, 700px);
  margin: 30px auto;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board-container div {
  border-collapse: collapse;
  border: 1px solid black;
}

#board-container div:nth-child(1),
#board-container div:nth-child(2),
#board-container div:nth-child(3) {
  border-top: none;
}

#board-container div:nth-child(7),
#board-container div:nth-child(8),
#board-container div:nth-child(9) {
  border-bottom: none;
}

#board-container div:nth-child(1),
#board-container div:nth-child(4),
#board-container div:nth-child(7) {
  border-left: none;
}

#board-container div:nth-child(3),
#board-container div:nth-child(6),
#board-container div:nth-child(9) {
  border-right: none;
}

#board-container div[data-mark="X"] {
  background: url(cross.svg);
  opacity: 1;
}

#board-container div[data-mark="O"] {
  background: url(circle.svg);
  opacity: 1;
}

.hidden {
  display: none;
}

#win-screen {
  position: fixed;
  top: 0;
  z-index: 5;
  background: #0005;
  width: 100vw;
  height: 100vh;
}

.xPlayer {
  background: url(cross.svg);
  opacity: 0.1;
}

.oPlayer {
  background: url(circle.svg);
  opacity: 0.1;
}